// theme.scss

// colors
$main-color: #3863a9;
$light-color: #ecedef;
$dark-color: #3c4043;
// break points
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;
$landscape: 1440px;
$tv: 2560px;

// sizes
$xsm: 1rem;
$sm: 2rem;
$md: 4rem;
$lg: 7rem;
$xlg: 9rem;
