// theme.scss

// colors
$main-color: rgb(55,99,176);
$light-color: rgb(230,230,230);
$dark-color: rgb(57, 60, 66);
$danger-color: rgb(237, 111, 69);
$success-color: rgb(135, 204, 30);
$white-color: #fff;
// break points
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;
$landscape: 1440px;
$tv: 2560px;

// border
$radius: 10px;
